
/*

Table of content:

body
nav
intro
different sections
button
form
custom responsive code

*/


body {
	font-family: 'Raleway', sans-serif;
	color:#34495E;
	font-size: 15px;
	/* line-height: 23px; */
	/*background:url(../images/bg/geometry_1.png);*/
	animation: animatedBackground 100s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 20;
}

#nav li{
	margin: 0 0 15px 0;
}

#nav li a{
	background: url(../images/dot.png);
    display: block;
    height: 19px;
    width: 19px;
	border:2px solid #34495E;
	border-radius:100%;
}

#nav li a:hover{
	position: relative;
}

#nav li a[title]:hover:before {
  content: attr(title);
  padding: 4px 8px;
  color: #FFF;
  position: absolute;
  right: 30px;
  top: -3px;
  white-space: nowrap;
  z-index: 20;
  background:#34495E;
}

#nav li.current a{
  background: #34495E;
}

h2{
	font-family: 'Raleway', sans-serif;
}

p {
    margin: 0 0 23px 0;
	line-height: 23px;
}

#intro{
	background:url(../images/beach-2.jpg) 40% 0 no-repeat fixed;
	height: 600px;
	margin: 0 auto;
	background-size:cover;
    background-position: 30% 70% !important;
	padding:0;
}

.title{
    font-size: 60px;
    text-align:center;
    padding-bottom: 15px;
    transform: translateY(-75px);
    transition: all 2s ease 0s;
}
.img-title{
    font-family: 'Great Vibes',Sans-Serif;
}

.text-grey{
    color:grey;
}
.light{
    font-size:30px; font-weight:300;
}

.map{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.italic{
    font-style:italic;
}

#intro .scrollblock{
    right:0;
    position: absolute;
    top:0;
}
#intro .title{
	text-align:right;
    width:50vw;
    color: white !important;
    text-shadow: 0px 2px 4px #29183A;
}


.randr{
	position:relative;
	top:400px;
	font-size:110px;
	text-shadow: 0px 1px 1px #29183A;
	color:#34495E!important;
}

.title-animate{
	transform: translateY(0px);
	letter-spacing:0px;
}

.section{
	padding:150px 0 0 0;
	width:50%;
}

.section3{
	padding:150px 0 0 0;
	width:75%;
}


.party p{
	padding:30px 0 0 0;
}

.party img{
	width:100%;
}


.program img{
	border-radius:100%;
}

.ffno{
	font-size: 28px;
}

.button-link {
    border: 0 none;
    color: #FFFFFF;
    display: inline-block;
    height: 60px;
    padding-top: 20px;
    background: white;
    width: 100px;
    max-width:100px;
    max-height:100px;
    height:100px;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 20px;

    transform: translateY(75px);
    transition: all 0.3s ease 0s;
    /*transition: all 2s ease 0s;*/

    border-radius: 100%;
    -webkit-border-radius: 100%;

}

.button-link img{
    width: 130%;
}

.button-link:hover {
    color: #FFFFFF;
	text-decoration:none;
	opacity:.8;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 4px 10px rgba(0,0,0,0.3);
}

.button-link:focus {
    color: #FFFFFF;
	text-decoration:none;
	opacity:.8;
}

.button-animate{
	transform: translateY(0px);
}


.fld {
    width: 75%;
    color:#A9A9A9;
    height: 60px;
    transition: all 0.3s ease 0s;
	margin-bottom:5px;
	padding-left:5px;
}

.submit_fld  {
	width: 75%;
	border: 0 none;
    color: #FFFFFF;
    height: 60px;
	border-radius:0px;
    transition: all 0.3s ease 0s;
}

.submit_fld:hover {
    color: #FFFFFF;
	text-decoration:none;
	opacity:.8;
}


.bottom{
	background:url(../images/beach-lg.jpg) 0 top no-repeat;
	height: 800px;
	margin: 0 auto 0;
	padding: 0;
	background-size:cover;
}

.thankyou{
	color:#fff!important;
	position: absolute;
    bottom: 1%;
	right:1%;
}


.responsive-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.responsive-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



@media (max-width: 600px) {
    #intro .title{
        text-align: center;
        font-size: 40px;
    }
	.section, .section2, .section3{
		width:100%;
	}

	.widescreen{
		display:none;
	}
}

@media (max-width: 1100px) {
	.randr{
        top:200px;
        font-size:40px;
    }
    #intro .title{
		top:400px;
        text-align: center;
        font-size: 50px !important;
    }
}
